{% extends "layout.html" %}
{% block content %}

    <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{post.title}}</h1>
              <h2 class="subheading">{{post.tagline}}</h2>
              <span class="meta">Posted by
                <a href="#">{{post.author}}</a>
                on {{post.date}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
<!-- <div class="d-flex justify-content-start mb-4"><a class="btn btn-primary text-uppercase" href="/edit/{{post.sno}}">Edit Post →</a></div> -->
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            {{post.content}}

            the slug is {{post.slug}}
          </div>
        </div>
      </div>
    </article>
    
        <!-- <div style="background-image: url('static/img/home-bg.jpg');"> -->
      

   {% endblock %}
